.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
}

.card{
  width: 18rem;
  height: 20rem;
  border-radius: 1.2rem;
}

.card-img {
  width: 100%;
  height: 15rem;
  border-radius: 1.2rem;
}

.card-content {
  display: flex;
}

.link{
  text-decoration: none;
  color: black;
}
